<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header>
        <div class="in-header">
            <div class="left-head"><h2>Student Cell
            </h2>
            </div>
        <div class="right-head">
           <a href="#">About</a>
           <a href="#">Login</a>
           <div class="menu" style="position:relative; font-size:20px;cursor:pointer;" onclick="openNav()"><i class="material-icons">menu</i></div>
         </div>
         <div id="mySidenav" class="sidenav">
           <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
           <a href="#">About</a>
           <a href="#">Login</a>
           
         </div>
        </div>
    </header>

    <script src="js/nav.js"></script>

</body>
</html>