.nav-item .material-icons{
    position:absolute;
}

header .st-navbar{
    background-color:#283861;
}
header .st-navbar .navbar-brand{
    color:#ffd52c;
    font-weight:700;
    font-size:1.5em;
}
.st-main .st-profile{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.st-main .user-text{
    display:block;
}
.st-main .st-group .list-group-item{
border:none;
padding:10px;
margin-top:5px;
text-decoration:none;
}
.st-main .st-group .list-group-item:hover{
    background-color:#acacac1e;
    color:#333;
}
.st-main .st-group .list-group-item .nav-btn-icon{
    width:30px;
    padding:5px;
    fill:#666;
}