*{
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}


/*header*/
header{
 width: 100%;
top: 0;
background-color: #283861;

}

header .material-icons{
  width:20px;
  float: left;
  text-align:center;
  margin-right:0.5rem;
  color:#fff;
}
.in-header{
    overflow: hidden;
    padding: 15px 10px;
    margin: auto;
    max-width: 1350px;
}
.in-header li{
    display: inline;
        text-align: center;
     
        font-size:16px;
        transition: 0.1s;
}
.in-header a{
  text-decoration: none;
  color: #fff;
  margin: 0.25rem 0 0 0;
  font-weight:600;
}



.left-head{
    color: #ffe043;
    margin: 0;
  float: left;
}
.right-head{
    float: right;
}


.menu{
    visibility:hidden;
    display: inline;
    text-align: center;
    text-decoration: none;
    float: right;
    margin-right: 5px;
}
.right-icon{
    float: right;
}


@media (max-width: 800px){
    .menu{
        visibility: visible;
    }
    .right-head a{
        visibility: hidden;
        margin: 0;
        padding: 0;
        font-size: 0;
        }
}
/*slide nev*/
.sidenav {
    height:100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #f1f1f1;
    overflow-x: hidden;
   padding-bottom: 20px;
    transition:all 0.2s;
    padding-top: 60px;
  }
  .slidenav .material-icons{
    width:20px;
    float: left;
    text-align:center;
    margin-right:0.5rem;
    
  }
 
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 18px;
    color: #414141;
    display: block;
    transition:0.3s;
  }
  .sidenav .active{
    color: #f1f1f1;
  }
  .sidenav a:hover {
    color: #bbb;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
    /* slide nev*/
    @media screen and (max-height: 450px) {
        .sidenav {padding-top: 15px;}
        .sidenav a {font-size: 18px;}
      }
      
      
/*MAIN*/
.container{
  max-width:1350px;
  margin:auto;
}
.container-fluid{
  margin:auto;
}
.row{
  display:flex;
  flex-wrap:wrap;
}
.justify{
  justify-content:center;
}
.m-1{
  margin:10px auto;
}
.m-2{
  margin:20px auto;
}
.p-1{
  padding:10px;
}
.p-2{
  padding:20px;
}
.bor-1{
  border:1px solid #333;
}

/*main page*/
.st-lg-clg{
  color:#f3c627;
}
/* Clear floats after the columns */
section::after {
  content: "";
  display: table;
  clear: both;
}

.st-nav-op{
float:left;
width:20%;

background:#4b4855;
}
.st-main-frame{
  width:80%;
  padding:10px;
  border:1px solid #bbb;
  height:auto;
  float:center;
}
.st-nav-btn-grp{
padding:10px;
}
.st-nav-btn-grp li{
display:block;
width:100%;
padding:20px;

text-decoration:none;
color:#adadad;

}
.st-nav-btn-grp a{
  text-decoration:none;
  color:#ccc;
  text-align:center;
  margin: 0.25rem 0 0 0;
  font-weight:600;
}
.st-nav-btn-grp .nav-btn-icon{
  width:20px;
  margin-right: 0.5rem;
  float: left;
  text-align:center;
  fill:#ccc;
}

.st-nav-btn-grp li:hover{
  background:#5b5a63;
}

.st-nav-profile{
  padding:10px;
  justify-content:center;
  text-align:center;
  border-bottom:1px solid #bbb;
}
.st-profile-card{
  padding:10px;
  color:#ddd;
}
.st-profile-card p{
  padding:10px;
}
.st-profile-img{
   width:100px;
  border-radius:50%;
  background-color:#bbb;
}

@media (max-width: 600px) {
  .st-nav-op, .st-main-frame {
    width: 100%;
    height: auto;
  }
}