.nav-item .material-icons{
    position:absolute;
}

header .st-navbar{
    background-color:#fdfeff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.st-navbar button:focus{
    box-shadow:none;
}

header .st-navbar .navbar-brand{
    color:#0B5998;
    font-weight:700;
    font-size:1.5em;
    text-decoration:none;
}
 img{
    aspect-ratio:auto 3/2;
}
.navbar-text{
color:#0B5998 !important;
}
header .st-navbar .navbar-brand:hover{
    color:#0B5998;
}
/*profile & nav tabs*/
 .st-profile{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.st-profile .user-text{
    display:block;
}
 .st-group .st-list-link{
border:none;
padding:10px;
margin-top:5px;
color:#333;
fill:#666;
display:flex;
border-bottom:1px solid #bbbbbb37;
text-decoration:none;
}
 .st-group .badge{
    border-radius:25px;
    position:absolute;
    font-size:0.7em;
    top:18%;
    right:0%;
}
 .st-group .list-group-item:hover{
    background-color:#acacac1e;
}

.st-active{
    background:#acacac1e !important;

}
.st-link-active{
    fill:#0B5998 !important;  
}

 .st-group .list-group-item .nav-btn-icon{
    width:30px;
    padding:3px;
   
}
 .st-group .list-group-item .st-link-text{
    padding:3px;
}


/*main page*/
.st-main .st-text-col{
    background-color:#0B5998;
    border-radius:10px;
}
.st-main .st-text{
    color:#fff;
    font-size:1.8em;
    font-weight:700;
}
/*
.st-profile-menu{
    display:none;
}

@media (max-width: 1024px) {
.st-main .st-profile{
        display:none;
    }
    .st-profile-menu{
display:contents;
    }
}